<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Twoja Aplikacja{% endblock %}</title>
    {% block extra_head %}{% endblock %}
</head>
<body>
    <header>
        <h1>Opis książki</h1>
    </header>
    <main>
        {% block content %}
        {% endblock %}
    </main>

    <footer>
        <p>© 2024 Twoja Aplikacja. Wszelkie prawa zastrzeżone.</p>
    </footer>
    {% block extra_js %}
    {% endblock %}
</body>
</html>
